*{
    padding:0;
    margin:0;
    
}
.nav-bar{
    font-size:25px;
    height:40px;
    margin-top:8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-bar a{
    padding:0 45px 0 20px;
    color:black;
    text-decoration: none;
    color:black;
}
.search{
    height:30px;
    width:300px;
    border:2px solid black;
    margin-left:635px;
    border-radius:10px;
}
.search::placeholder{
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     color: white; 
     text-align: center; 
     font-size: 65px;
     z-index: 1; 
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     border:5px solid black;
     background-color: black;
     opacity:0.6;
     border-radius:10px;
     width:500px;
     height:100px;
     text-align:center;
     padding-top:20px;
}
.nav-bar a:hover{
    text-decoration: underline;
}
.parah{
    position: absolute;
    top:115%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    width:70%;
    background-color:black;
    height:120px;
    padding:70px 50px 50px 50px;
    font-size:25px;
    border-radius:20px;
    opacity:1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}
.card h3{
    text-align:center;
    text-transform: uppercase;
    color:orange;
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color:teal;
    height:50px;
    padding-top:20px; */
    padding-top:10px;
}
.card{
    transform:translateY(180px);
    width:320px;
    height:450px;
    border:2px solid white;
    display:inline-block;
    margin:30px 40px 50px 100px;
    
    border-radius:5px;
    text-align:center;
    box-shadow:2px 4px 10px black;
    background-color:rgba(0,0,0,0.9);
    color:white;
    
}
.card p{
    padding-top:10px;
}
.card a{
    color:aqua;
    text-decoration:none;
}
img{
    width:100%;
}
.card:hover{
    box-shadow:2px 4px 18px black;
}
.desc p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.foot-panel1{
    background-color:#37475a;
    transform:translateY(280px);
    color:white;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1rem;
}
.foot-panel2 a{
    color:white;

}
.foot-panel2{
    transform:translateY(280px);
    display:block;
    background-color:#222f3d;
    color:white;
    height:400px;
    display:flex;
    justify-content:space-evenly;
    cursor:pointer;
}
.foot-panel2 p{
    font-size:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul a{
    display:block;
    font-size:14px;
    margin-top:10px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    margin-top:20px;
}
.foot-panel3{
    transform:translateY(140px);
    background-color:#222f3d;
    color:white;
    border-top:0.5px solid white;

}
.soc{
    display:flex;
    justify-content: center;

}
.soc span{
    font-size:20px;
    margin-top:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.soc i{
    color:white;
    padding:10px;
}
.foot-panel3 p{
    display:flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.foot-panel1 a{
    color:white;
    font-size:20px;
    text-decoration: none;
    

}
.foot-panel1 a:hover{
    font-size:22px;
}

.foot-panel2 p:hover{
    font-size:22px;
}
.foot-panel2 a:hover{
    font-size:16px;
}

.join{
    transform:translateY(200px);
    text-align: center;
}
.join h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
    
}
.join img{
    width:250px;
    padding-top:10px;
    display:inline-block;
    margin-top:20px;
}
.box{
display:inline-block;
margin-left:20px;
}
.join h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
}
.join h3:hover{
    text-decoration: underline;
}
.join h2:hover{
    text-decoration: underline;
}

  